.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .modal {
        display: grid;
        text-align: center;
        gap: 32px;
        background-color: #F5F1EF;
        box-shadow: 5px 6px 60px 0px #80808080;
        padding: 32px;
        border-radius: 16px;

        form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            input {
                padding: 12px 103px 12px 12px;
                border-radius: 8px;
                border: solid black 3px;
                background-color: #F5F1EF;
            }

            button {
                border-radius: 8px;
                padding: 12px;
                background-color: black;
                border: none;
                color: white;
                font-weight: 700;
            }
        }

        .transitionSignin {
            color: #808080;
            a {
                text-decoration: none;
                color: #808080;
            }
        }
    }
}

