
.home {
    display: flex;
    height: 100vh;
    
    .hidden {
        display: none !important;
    }

    section {
        padding: 16px;
        width: 100%;
        
        .tabHeader {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: 700;
                font-size: 18px;
            }

            button {
                border: solid black 3px;
                border-radius: 8px;
                padding: 12px;
                font-weight: 700;
                font-size: 12px;
                background-color: #F5F1EF;
            }
        }

        .allProjects {
            display: grid;
            gap: 8px;
            grid-template-columns: repeat(6, 1fr);

            .projectCard {
                display: flex;
                justify-content: space-between;
                background-color: #808080;
                color: white;
                padding: 8px;
                border-radius: 8px;

                .deleteButton {
                    border: none;
                    background: none;
                    font-size: 20px;
                    color: red;
                    cursor: pointer;
                }
            }
        }

        .tabBackground {
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.419);
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            
            .tabContent {
                display: grid;
                gap: 32px;
                text-align: center;
                background-color: #F5F1EF;
                box-shadow: 5px 6px 60px 0px #ffffff6a;
                padding: 32px;
                border-radius: 16px;
                position: relative;
    
                #projectNameText {
                    font-size: 18px;
                    font-weight: 700;
                    width: 211px;
                }

                #projectNameInput {
                    font-size: 18px;
                    font-weight: 700;
                    background: none;
                    border: none;
                    text-align: center;
                }
    
                #createPrject {
                    display: inline-flex;
                    flex-direction: column;
                    gap: 16px;
    
                    input {
                        padding: 12px 103px 12px 12px;
                        border-radius: 8px;
                        border: solid black 3px;
                        background-color: #F5F1EF;
                    }
    
                    button {
                        border-radius: 8px;
                        padding: 12px;
                        background-color: black;
                        border: none;
                        color: white;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}